[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Affinity Search
Type=Application
Comment=The Affinity Search Tool
Exec=affinity
Icon=search
Categories=GNOME;Utility;
Name[en_GB]=Affinity Search 
