#!/usr/bin/make -f
#DH_VERBOSE=1

DISTRO = "$(shell lsb_release -si)"
NUM = "$(shell lsb_release -sr)"

include /usr/share/quilt/quilt.make

configure_flags += \
		--prefix=/usr \
		--disable-pymod-checks \
		--with-gconf-schema-file-dir=/etc/gconf/schemas \
		--with-webkit

ifeq ($(NUM),"10.04")
configure_flags += --with-indicator
endif
ifeq ($(NUM),"10.10")
configure_flags += --with-indicator
endif
ifeq ($(NUM),"11.04")
configure_flags += --with-indicator
endif

override_dh_install:
	#Remove CHANGELOG,LGPL, AUTHORS, README, COPYING, .la, .a, pyo and pyc files.
	find $(CURDIR)/debian/tmp/usr/lib/ -name *.a |xargs rm
	find $(CURDIR)/debian/tmp/usr/lib -name *.la |xargs rm
	find $(CURDIR)/debian/tmp/usr/lib -name *.pyc |xargs rm
	find $(CURDIR)/debian/tmp/usr/lib -name *.pyo |xargs rm
	find $(CURDIR)/debian/tmp/usr -name COPYING |xargs rm
	find $(CURDIR)/debian/tmp/usr -name README |xargs rm
	find $(CURDIR)/debian/tmp/usr -name AUTHORS |xargs rm
	find $(CURDIR)/debian/tmp/usr -name LGPL |xargs rm
	find $(CURDIR)/debian/tmp/usr -name CHANGELOG |xargs rm
	#Disable applets
	set -e; for applet in dropper mimenu mount vala-test python-test wobblyzini; do \
		rm -f $(CURDIR)/debian/tmp/usr/lib/awn/applets/$${applet}/*.so \
		rm -f $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/*.py; \
		rm -f $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/icons/*.svg; \
		rm -f $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/icons/*.png; \
		rm -f $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}/*.ui; \
		rm -f $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/applets/$${applet}.desktop; \
		rm -f $(CURDIR)/debian/tmp/etc/gconf/schemas/awn-applet-$${applet}.schemas; \
		rm -f $(CURDIR)/debian/tmp/usr/share/avant-window-navigator/schemas/awn-applet-$${applet}.schema-ini; \
	done

ifeq ($(NUM),"10.04")
	dh_install -pawn-applets-c-core-trunk usr/lib/awn/applets/related/*.so 
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/applets/related.desktop 
	dh_install -pawn-applets-c-core-trunk usr/share/icons/hicolor/scalable/apps/zeitgeist-logo.svg
	dh_install -pawn-applets-c-core-trunk usr/lib/awn/applets/indicator-applet/indicator-applet.so
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/applets/indicator-applet.desktop
	dh_install -pawn-applets-c-core-trunk etc/gconf/schemas/awn-applet-indicator-applet.schemas
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/schemas/awn-applet-indicator-applet.schema-ini
endif

ifeq ($(NUM),"10.10")
	dh_install -pawn-applets-c-core-trunk usr/lib/awn/applets/related/*.so 
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/applets/related.desktop 
	dh_install -pawn-applets-c-core-trunk usr/share/icons/hicolor/scalable/apps/zeitgeist-logo.svg
	dh_install -pawn-applets-c-core-trunk usr/lib/awn/applets/indicator-applet/indicator-applet.so
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/applets/indicator-applet.desktop
	dh_install -pawn-applets-c-core-trunk etc/gconf/schemas/awn-applet-indicator-applet.schemas
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/schemas/awn-applet-indicator-applet.schema-ini
endif

ifeq ($(NUM),"11.04")
	dh_install -pawn-applets-c-core-trunk usr/lib/awn/applets/related/*.so 
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/applets/related.desktop 
	dh_install -pawn-applets-c-core-trunk usr/share/icons/hicolor/scalable/apps/zeitgeist-logo.svg
	dh_install -pawn-applets-c-core-trunk usr/lib/awn/applets/indicator-applet/indicator-applet.so
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/applets/indicator-applet.desktop
	dh_install -pawn-applets-c-core-trunk etc/gconf/schemas/awn-applet-indicator-applet.schemas
	dh_install -pawn-applets-c-core-trunk usr/share/avant-window-navigator/schemas/awn-applet-indicator-applet.schema-ini
endif
	dh_install --list-missing

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh_testdir
	./autogen.sh $(configure_flags)
	dh_auto_build
	touch build-stamp

clean: unpatch
	dh clean

install: build install-stamp
install-stamp:
	dh_testroot
	dh install --before build
	dh_auto_build
	dh install --after test
	touch install-stamp

binary-arch: install
	dh binary-arch --before strip
	dh_strip --dbg-package=awn-applets-c-dbg-trunk
	dh_makeshlibs -a -n --exclude=*
	dh binary-arch --after makeshlibs

binary-indep: install
	dh binary-indep

binary: binary-arch binary-indep
