[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Media Icons Play
Type=Python
Comment=A media-control applet (Play)
Exec=/usr/local/lib/awn/applets/media-icon-play/medialogoplay.py
Icon=/usr/local/lib/awn/applets/media-icon-play/icons/play.svg
Name[en_US]=Media Icons Play
