[Desktop Entry]
Type=C
Encoding=UTF-8
Name=Affinity Search
Comment=Search your computer via Affinity
Exec=/usr/local/lib/awn/applets/affinity/affinity.so
Icon=search
