Source: awn-core-applets
Section: gnome
Priority: optional
Maintainer: Julien Lavergne <julien.lavergne@gmail.com>
Build-Depends: debhelper (>= 5), cdbs, intltool, gnome-pkg-tools, autotools-dev, libgnome-menu-dev, libgconf2-dev, libgnome-desktop-dev, gnome-common, librsvg2-dev, libawn-dev, python-libawn0, python-central (>= 0.5.6), python, python-cairo-dev, python-gnome2-dev
Standards-Version: 3.7.2
XS-Python-Version: current

Package: awn-core-applets
Section: gnome
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, cairo-clock
Recommands: avant-window-navigator
XB-Python-Version: ${python:Versions}
Description: A collection of applets for avant-windows-navigator
 A collection of applets for avant-windows-navigator.
